
body {
  padding: 0px;
  margin: 0px;
}

body, button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

.container {
  padding: 10px 40px;
}

.navbar {
  display: grid;
  /* Creates 3 columns: logo (auto width), links (takes remaining space), actions (auto) */
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
}





/* Navbar container */
.navbar2 {
  overflow: hidden;
  background-color: #333;
}

/* Links inside the navbar */
.navbar2 a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar2 a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.floatright {
  float: right;
}

.green {
  color: green;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}